.logoutBtn{
        background: black;
        color: #f5c52e;
        border: none;
        border-radius: 3px;
        position:relative;
        height:65px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        width: 60%;
        margin: 1em;
        &:hover{
            cursor: pointer;
        }
}