.fondo {
  background-image: url(../../assets/img/fondoLetras/fondoLetras.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
}


.perfil {
  display: flex;
  background-color: #f5c52e;
  border: 4px inset #f5c52e;
  border-radius: 5px;
  flex-direction: row;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  margin: 300px;
  margin-top: 50px;
  width: 900px;
  height: 500px;
}


.imagen {
  margin: 17px;
  margin-left: 90px;
  margin-right: 20px;
  margin-top: 30px;
  border: 8px solid #af8b13;
  border-radius: 200px;
  height: 350px;
  transform: translate(0);
  transition: transform 0.25s ease-out;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

.imagen:hover {
  transform: scale(1.05);
}

.titulo{
    color: black;
    font-size: 2em;
    text-align: left;
    margin-left: 40px;
    font-family: "Montserrat";
    display: block;
}

.h3{
    position: grid;
    text-align: left;
    display: block; 
    margin-top: 20px;
    text-align:right
}
