.perfil {
  flex-direction: row;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  margin-left: 15em;
  margin-top: 2em;
}

.contenedor {
  width: 90%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.titulo {
  margin-top: -1px;
  margin-bottom: 3px;
  color: black;
  font-size: 2em;
  text-align: center;
  display: block;
}

.imagen {
  margin: 2em 0 0 4em;
  border: 8px solid black;
  border-radius: 200px;
  height: 200px;
  transform: translate(0);
  transition: transform 0.25s ease-out;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

.imagen:hover {
  transform: scale(1.05);
}

.btn_out{
  margin-top: -9em;
  margin-left: 39em;
}

/* .cloudinary {
  margin: 0;
  display: flex;
  position: absolute;
  margin-right: 10em;
} */

/* .txt{
  background-color: aqua;
  margin-left: 6em;
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
} */

/* .txt_info{
  color:white;
  margin-left: 6em;
  margin-top: -5px;
}


.cambiarImg{
  font-size: 1em;
  margin-top: -0.1em;
  margin-right: 0.3em;
} */


