/* Estilo para el aside */
.admin {
  padding: 20px;
  width: 15%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.catalogo {
  width: auto;
  padding: 10px;
  background-color: rgb(125, 123, 123);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

/* Estilo para los botones dentro del aside */
aside button {
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #f5c52e;
  background-color: #302e2e26;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el botón "Crear productos" */

/* Estilo al pasar el mouse sobre los botones */
aside button:hover {
  background-color: #ffffff;
  color: black;
}

aside button.active {
  background-color: #f5c52e;
  color: black;
}
