.label {
  color: #f5c52e;
}
.ulFilter {
  list-style-type: none;
  padding: 0;
  font-size: 15px;
  margin-right: 5px;
  color: white;
  margin-top: 0px;
}

.btnFilter {
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #f5c52e;
  background-color: #f5c52e;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
