.background_acceso{
    background-image: url(../assets/img/fondoLetras/fondoLetras.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.background_home{
    background-image: url(../assets/img/home/FotoPrincipalHome.png);
    background-size: cover;
    min-height: 163vh;
}

.spaceNav{
    height: 4.3em;
}