.contenedor2 {
  margin-left: 60px;
}

.formulario2 {
  align-items: center;
  width: 90%;
  margin-top: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  padding-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario2 > div {
  margin-bottom: 20px;
}

.formulario2 label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario2 input,
.formulario2 textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario2 input:focus {
  outline: none;
  border: 2px solid #0085ff;
}

.formulario2 .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
}

.formulario2 .submit {
  display: block;
  background: #0085ff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
}

.formulario2 .submit:hover {
  background: #0051ff;
}

.formulario2 .exito {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  color: #02a802;
}

.formulario2 input[type="radio"] {
  width: auto;
}
